@charset "UTF-8";

main {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.form-row label {
	width: 150px;
	font-weight: bold;
}

.form-row input[type="text"],
.form-row input[type="password"] {
	flex: 0.5;
	padding: 8px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.radio-group {
	display: flex;
}

.required-badge {
	border: 2px solid;
	padding: 4px 8px;
	font-size: 14px;
	text-align: center;
	min-width: 50px;
	margin-right: 20px;
}

.required-badge.required {
	color: #dc2626;
	border-color: #dc2626;
}


#errorMessage {
	text-align: center;
	color: red;
}

.tbstyle {
	text-align: center;
	display: flex;
	justify-content: center;
}