@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
	align-items: center;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #999;
    padding: 8px 12px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: rgb(5, 5, 5);
}
.edit {
    background-color: #b3b6b3;
    margin-bottom: 5px;
}
.delete {
    background-color: #e9603e; 
}

