

/* Header*/

.bodymsg {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

.action-buttons {
  margin-top: 50px;
}

/* Footer Styles */
footer {
  text-align: center;
	margin-top: 300px;
}


