/* Header*/

.header-container {
    display: flex;
    height: 54px;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.logo-text {
    white-space: nowrap;
    margin-right: 60px;
    color: black;
    font-size: 16px;
    font-weight: normal;
    line-height: 22.4px;
    text-decoration: none;
}

.bodymsg {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
}

.tbstyle{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  

.action-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 80px;
}


.btn-back {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    min-height: 32px;
}


.btn-back {
    background-color: #0d0d0e;
    border-color: #020211;
    color: #f1f1f8;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 50px;
}