@charset "UTF-8";

.action-buttons {
	display: grid;
	gap: 25px;
	width: 90%;
	margin: 0 auto 30px auto;
}

.btn-next {
	padding: 20px;
	font-size: 24px;
	border-radius: 15px;
}

/* 上の2つ */
.row-2 {
	grid-template-columns: repeat(2, 1fr);
}

.row-2 .btn-next {
	min-height: 220px;
}

/* 下の3つ */
.row-3 {
	grid-template-columns: repeat(3, 1fr);
}

.row-3 .btn-next {
	min-height: 120px;
}