@charset "UTF-8";

.action-buttons {
	display: grid;
	gap: 25px;
	width: 80%;
	margin: 0 auto 30px auto;
}

/* 上の2つ */
.row-2 {
	grid-template-columns: repeat(2, 1fr);
}

/* 下の3つ */
.row-3 {
	grid-template-columns: repeat(3, 1fr);
}

/* タブレット用に大きく */
.btn-next {
	font-size: 24px;
	padding: 20px;
	min-height: 120px;
	border-radius: 15px;
}