@charset "UTF-8";

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

table {
	margin-top: 50px;
	border-collapse: collapse;
	width: 700px;
}

.table_border tr {
	border-style: solid;
	border-color: #aaa;
}

th,
td {
	padding: 8px 12px;
}

th {
	background-color: #f2f2f2;
}

.block-title {
	font-weight: bold;
	margin-bottom: 5px;
}

input,
select {
	width: 250px;
	padding: 8px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.small-text {
	font-size: 14px;
	margin-top: 3px;
}

a {
	text-decoration: underline;
}
