@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

/* ヘッダー部分(テーブルの)設定 */
.order-card {
	width: 100%;
	max-width: 900px;
	border: 1px solid #ddd;
	border-radius: 12px;
	padding: 20px;
	margin: 30px 0;
	background: #fff;
}

.order-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.order-no {
	font-size: 20px;
	font-weight: bold;
}

.pickup {
	padding: 6px 14px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
}

.pickup.delivery {
	background: #e0f2ff;
	color: #007acc;
}

.pickup.counter {
	background: #fff3cd;
	color: #856404;
}


/* テーブル設定 */
.order-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
}

.order-table th {
	background: #f5f5f5;
	padding: 10px;
}

.order-table td {
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.order-table td:last-child {
	font-weight: bold;
}


/* 注文小計 */
.order-total {
	text-align: right;
	font-size: 18px;
	margin-top: 15px;
}

.order-total span {
	font-size: 22px;
	font-weight: bold;
}

/* 全体合計 */
.grand-total {
	margin-top: 10px;
	padding: 20px;
	background: black;
	color: white;
	font-size: 22px;
	border-radius: 12px;
}

.grand-total span {
	font-size: 28px;
	font-weight: bold;
}


.footer-wrap {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid rgba(217, 217, 217, 1);
	padding-top: 10px;
	margin-top: 30px;
}