body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
/* Header*/

.header-container {
    display: flex;
    height: 54px;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.logo-text {
    white-space: nowrap;
    margin-right: 60px;
    color: black;
    font-size: 16px;
    font-weight: normal;
    line-height: 22.4px;
    text-decoration: none;
}


.bodymsg {
    text-align: center;
    display: flex;
    justify-content: center;
	align-items: center;
    font-size: 18px;
}
h3{
    text-align: left;
    margin-top: 10px;
}
h4{
    text-align: right;
    margin-top: 20px;
}
table {
    margin-top: 10px;
    border-collapse: collapse;
    border: #020311 1px solid;
    width: 100%;
}
th, td {  
    padding: 8px 12px;
    
}
td {
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.small-text {
    font-size: 14px;
    margin-top: 3px;
}

a {
    text-decoration: underline;
}


.btn-back {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
    min-height: 32px;
}

.btn-back {
    border-color: #020211;
    color: #050505;
}
.footer-wrap {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(217, 217, 217, 1);
    padding-top: 10px;
    margin-top: 30px;
  }
/* Footer Styles */
footer {
    text-align: center;
    margin-top: 30px;
}