@charset "UTF-8";

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

table {
	margin-top: 25px;
	border-collapse: collapse;
	width: 700px;
	border-bottom: 1px solid rgba(217, 217, 217, 1);
}

th,
td {
	padding: 8px 12px;
}

th {
	border-top: 1px solid rgba(217, 217, 217, 1);
}

a {
	text-decoration: underline;
}

.cart-contents {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.order-summary {
	margin-top: 20px;
	font-size: 20px;
	text-align: right;
	font-weight: bold;
}

.order-number{
	color: rgb(17, 106, 223);
}