.bodymsg {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

table {
	margin-top: 50px;
	border-collapse: collapse;
	width: 700px;
	border-bottom: 1px solid rgba(217, 217, 217, 1);
	;
}

th,
td {
	padding: 8px 12px;

}

th {
	border-top: 1px solid rgba(217, 217, 217, 1);
}

.small-text {
	font-size: 14px;
	margin-top: 3px;
}

a {
	text-decoration: underline;
}

