@charset "UTF-8";

.container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

table {
	margin-top: 50px;
	border-collapse: collapse;
	width: 800px;
}

th,
td {
	padding: 8px 12px;

}

tr {
	border-top: 1px solid rgba(217, 217, 217, 1);
	border-bottom: 1px solid rgba(217, 217, 217, 1);
}