@charset "UTF-8";

.search-btn {
	color: white;
	margin-left: 10px;
	background-color: black;
	cursor: pointer;
	height: 35px;
}

.searchbox {
	width: 300px;
	height: 40px;
	font-size: 16px;
	border: 1px solid #ccc;
}

.search-btn,.searchbox{
	padding: 5px 15px;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
}