@charset "UTF-8";

.container {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	gap: 40px;
}


.right-box {
	flex: 1;
	margin-right: 50px;
}

input {
	margin-top: 5px;
	width: 200px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: white;
	cursor: pointer;
}

.input-row {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-top: 10px;

}

.input-row label {
	font-weight: bold;
}

.input-row input {
	flex: 0.5;
}

.required-badge {
	border: 2px solid;
	padding: 4px 8px;
	font-size: 14px;
	text-align: center;
	min-width: 50px;
	margin-right: 20px;
}

.required-badge.required {
	color: #dc2626;
	border-color: #dc2626;
}

input[type="radio"] {
	margin: 0;
	width: auto;
	padding: 0;
}

#menuInput {
	width: 260px;
	padding: 12px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
}

.option-block {
	margin: 15px 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 15px;
	border-radius: 5px;
}

#category-select {
	width: 200px;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
	cursor: pointer;
}