
.bodymsg {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

.container {

  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  width: 150px;
  padding: 10px 20px;
  margin: 50px;
  font-size: 16px;
  color: white;
  background-color: #0c0c0c;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

/* Footer Styles */
footer {
  text-align: center;
	margin-top: 300px;
}


