@charset "UTF-8";

/* ボタン設定 */
.btn-next,
.btn-back {
	padding: 12px 24px;
	border-radius: 8px;
	border: 1px solid;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s;
	min-height: 32px;
}

.btn-next {
	background-color: black;
	border-color: black;
	color: white;
}

.btn-back {
	background-color: white;
	border-color: black;
	color: black;
}

.action-buttons {
	display: flex;
	gap: 20px;
	margin-top: 30px;
}

.is-disabled {
	/* 選択できないボタン */
	color: #aaa;
	background-color: #ddd;
	cursor: not-allowed;
	border: none;
}

/* テキスト関連 */
.bodytitle {
	font-weight: bold;
	margin-top: 30px;
	font-size: 30px;
}

.bodymsg {
	margin-top: 30px;
	font-size: 20px;
}

.warning {
	/* 警告文字 */
	font-size: 20px;
	color: red;

}

.errermsg {
	/* エラーメッセージ */
	text-align: center;
	color: red;
}

/* 配置 */
.flex-center {
	display: flex;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

text-right {
	text-align: right;
}

/* 顧客用フッターの設定 */
.footer-wrap {
	display: flex;
	justify-content: space-around;
	border-top: 1px solid rgba(217, 217, 217, 1);
	padding-top: 10px;
	margin-top: 30px;
}