@charset "UTF-8";
main{
  margin-left: 60px;
}
form{
	margin-top: 30px;
}
input[type="text"], input[type="password"] {
	width: 300px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid rgba(204, 204, 204, 1);
	border-radius: 4px;
	padding-left: 10px;
	font-size: 14px;
}
